.slide-16-9-10,
.slide-16-9-10 * {
  box-sizing: border-box;
  
}
.heading-projects {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px/120% "Poppins", sans-serif;
  margin: 30px;
  /* position: absolute;
  left: 100px;
  top: 75px;
  width: 684px; */
}



/* .project-management {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px/200% "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 100px;
  top: 328px;
  width: 1595px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.paragraph {
  color: #1e1e1e;
  text-align: justified;
  font: 400 20px/120% "Inter", sans-serif;
  position: absolute;
  left: 100px;
  top: 209px;
  width: 817px;
  height: 75px;
}
.cad-design {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px/200% "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 100px;
  top: 392px;
  width: 1595px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.arduino-basic {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px/200% "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 100px;
  top: 456px;
  width: 1595px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.processing {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px/200% "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 100px;
  top: 520px;
  width: 1595px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.laser-cutting {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px/200% "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 100px;
  top: 584px;
  width: 1595px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._3-d-printing {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px/200% "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 100px;
  top: 648px;
  width: 1595px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.final-project {
  color: #1e1e1e;
  text-align: left;
  font: 600 32px/200% "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 100px;
  top: 712px;
  width: 1595px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.vector-4 {
  position: absolute;
  left: 1445px;
  top: 146px;
  transform: translate(-1445px, -0.5px);
  overflow: visible;
} */

.container{
 max-width: 800px; 
 justify-content: left;


}
.navigation {
  padding: 24px 42px 10px 42px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:#dfd7a6;
  width: 100%;
  color: #383434;
}

/* .header-color{
  display: block;
  background-color: #dfd7a6;
  height: 100px;
} */

.menu-items {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  color: rgb(255, 255, 255);
  
}
/* .projects {
  color: var(--black, #2d2d2d);
  text-align: right;
  font: 400 20px/27px "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.members {
  color: var(--black, #2d2d2d);
  text-align: right;
  font: 400 20px/27px "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.school {
  color: var(--black, #2d2d2d);
  text-align: right;
  font: 400 20px/27px "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */


.title-left{
  /* margin-left: 90px;
  margin-top: 30px; */
  /* margin-right: 500px; */
  

  
}
 
a:link{
  text-decoration: none;
  color: #383434;
  font-size: 16px;
  font-family: Lato,Hind Siliguri,open sans,Helvetica,Helvetica Neue,sans-serif,Microsoft Yahei;
  
}

a:visited{
  text-decoration: none; 
  color: #383434;
}

pre code {
  background-color: #e7e9eb;
  border-radius: 5px;
  padding: 2em 20px;
  margin: 20px 0;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  box-sizing: inherit;
}



ul{
  list-style:circle;
  justify-content: left;
  font-size: 24px;

}

.texts{
 /* margin-left: 500px; */
 margin: 0 200px;
}

.p-1:hover{
 border-top:1.5px solid #dfd7a6;
 border-bottom:1.5px solid #dfd7a6;
 border-radius: 0;
}

.p-1:visited{
  background-color:#dfd7a6;
}

.title-1{
  margin-bottom: 50x;
}


img{
  display: block;
  width: 700px;
  margin: 15px 0 30px 0;
}

.list:active {
  justify-content: left;
  

}

a.list{
  font-size: 24px;
  margin: 20px 10px;
  font-weight:600;
  margin-bottom: 20px;
 
}

pre code{
  display: block;
  max-width: 700px;
  margin: 0;
  margin-top: 0;
  padding: 0;
  page-break-inside: avoid;
  /* word-break: break-all; */
  /* word-wrap: break-word; */
  
}

xmp{
  margin: 0;
  padding: 0;
  display: inline;
  word-wrap: normal;
  

}




